<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="defaultAssetFolders" type="KenticoCommunity.PageAssetFolders.Configurations.DefaultAssetFoldersSection,KenticoCommunity.PageAssetFolders" />
  </configSections>
  <defaultAssetFolders>
    <assetFolderBad parentClass="cms.menuitem" childClass="cms.folder" defaultName="Assets"/>
  </defaultAssetFolders>
</configuration>