<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="defaultAssetFolders" type="KenticoCommunity.PageAssetFolders.Configurations.DefaultAssetFoldersSection,KenticoCommunity.PageAssetFolders" />
  </configSections>
  <defaultAssetFolders>
    <assetFolder parentClass="" childClass="cms.folder" defaultName="Assets"/>
    <assetFolder parentClass="cms.menuitem" childClass="" defaultName="Assets"/>
    <assetFolder parentClass="cms.menuitem2" childClass="cms.folder" defaultName=""/>
  </defaultAssetFolders>
</configuration>